body {
    background-color: brown;
    font: normal 15pt Arial;
    text-align: center;
}
header{
    color: white;
    text-align: center;
}
section{
    background-color: white;
    border-radius: 10px;
    width: 500px;
    padding: 50px;
    margin: auto;
    box-shadow: 5px 5px 10px black;
    
}
select#idban{
    width: 150px;
    margin-right: 1000px;
}
#bfim{
    margin-right: 350px;
    padding: 0px 45px 0px 45px;
}

footer{
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
}